# virtural environments
.venv**

# data
data/**

# experiment tracking
wandb/**
YOLOv8/**

# saved data
notebooks/*.csv

# models
*.pt
!YOLOv8/yolov10_best.pt

# binary files
**/*.pyc

# saved images
**/*.jpg

# generated protobuf files
services/*pb2.py
services/*pb2_grpc.py

# external depencencies
third_party/**
